<app-template>
  <div class="container">
    <app-profile-status></app-profile-status>
    <app-pocket-status></app-pocket-status>
    <app-buy-sell></app-buy-sell>
    <app-price-graph></app-price-graph>
  </div>
</app-template>
