<app-template>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <app-nav-pane></app-nav-pane>
      </div>
      <div class="col-lg-8">
        <app-content>
          <ng-content></ng-content>
        </app-content>
      </div>
    </div>
  </div>
</app-template>
