<div style="width: 100%; height: 4px; background-color: #f5f5f5"></div>

<div class="product-container w-100 py-4">
  <h3 class="pt-3" style="text-align: center">Our Products</h3>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm py-4" *ngFor="let product of products">
        <div class="card">
          <div class="card-body text-center">
            <img
              src="../../../../../assets/images/{{ product.image }} "
              alt="Platinum Investment"
            />
            <h5>{{ product.title | toTitleCase }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
