<div class="d-flex flex-row bd-highlight mb-3 my-4">
  <div class="testimonial-group">
    <div class="row mx-1">
      <div
        class="p-2 bd-highlight card m-3 pocketCard col-auto"
        *ngFor="let pocket of pocketList; let i = index"
      >
        <div class="card-body">
          <h3>{{ pocket.name | pocketName }}</h3>
          <h4>{{ pocket.price | pricePocket }}</h4>
          <h6>{{ pocket.qty }} Gram</h6>
          <button
            (click)="changeClickedPocketId(pocket)"
            class="card-link btn btn-primary btn-sm"
            data-bs-toggle="modal"
            data-bs-target="#editPocket"
          >
            Edit
          </button>
          <button
            (click)="deletePocket(pocket.id)"
            class="card-link btn btn-danger btn-sm"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
  <button
    class="btn btn-warning m-3 addPocketBtn"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
  >
    Add Pocket
  </button>

  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New Pocket</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form action="">
            <form [formGroup]="pocket" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Pocket Name</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  formControlName="name"
                />
              </div>
            </form>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="onSubmit()"
            data-bs-dismiss="modal"
          >
            Add Pocket
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="editPocket"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New Pocket</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form action="">
            <form [formGroup]="pocketEdit">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Pocket Name</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  formControlName="name"
                  [value]="clickedPocketData.name"
                />
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Price</label>
                <input
                  type="number"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  formControlName="price"
                  [value]="clickedPocketData.price"
                />
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Quantity</label
                >
                <input
                  type="number"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  formControlName="qty"
                  [value]="clickedPocketData.qty"
                />
              </div>
            </form>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="updatePocket()"
            data-bs-dismiss="modal"
          >
            Edit Pocket
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
