<div class="container row profile-product mx-auto">
  <div class="card col-lg mt-4">
    <div class="row">
      <div class="col">
        <img src="../../../../../../assets/images/{{ product }}.png" alt="" />
      </div>
      <div class="col my-auto">
        <h5>Your {{ total.product }} Amount</h5>
        <h3>
          {{ total.price | pricePocket }}
        </h3>
        <h5>{{ total.product | titlecase }} Amount {{ total.qty }} Gram</h5>
      </div>
    </div>
  </div>
  <div class="card col-lg mt-4 offset-lg-1">
    <div class="row my-auto">
      <div class="col text-center">
        <h5>Buy Price</h5>
        <h3>{{ price.buy | pricePocket }} / gr</h3>
      </div>
      <div class="col my-auto text-center">
        <h5>Sell Price</h5>
        <h3>{{ price.sell | pricePocket }} / gr</h3>
      </div>
    </div>
  </div>
</div>
