img {
  height: 200px;
}
.profile-product {
  width: 100%;
  // overflow: hidden;
}

@media only screen and (max-width: 520px) {
  img {
    width: 150px;
  }

  .profile-product {
    text-align: center;
  }
}
