<div class="row mb-3 w-100 py-4">
  <div class="col-sm">
    <img
      src="../../../../../assets/images/subs.png"
      alt="feture"
      id="feature-poster"
    />
  </div>
  <app-feature-list class="m-2 col-sm"></app-feature-list>
</div>
