<nav appNsNavbar [bgColor]="bgColor">
  <div class="container-fluid">
    <a class="navbar-brand px-2 mx-0" href="#">
      <img
        src="../../../../assets/images/mandiri-logo.png"
        width="100"
        height="50"
        alt="mandiri-logo"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            appBsNavbarBtn
            [textColor]="navTextColor"
            aria-current="page"
            href="/p/product/platinum"
            >Platinum</a
          >
        </li>
        <li class="nav-item">
          <a appBsNavbarBtn [textColor]="navTextColor" href="/p/product/gold"
            >Gold</a
          >
        </li>
        <li class="nav-item">
          <a appBsNavbarBtn [textColor]="navTextColor" href="/p/product/silver"
            >Silver</a
          >
        </li>
      </ul>
      <h6 appBsNavbarBtn [textColor]="navTextColor" format="m-auto me-auto">
        {{ "" | dateNow }}
      </h6>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <div>
        <a href="/p/profile"
          ><img
            class="profile-icon"
            src="../../../../assets/icons/user.svg"
            alt=""
        /></a>
        <!-- <a href="/p/product"
          ><img
            class="profile-icon"
            src="../../../../assets/icons/cart.svg"
            alt=""
        /></a> -->
      </div>
    </div>
  </div>
</nav>
