<div class="d-flex justify-content-md-center to-register">
  <div class="mx-auto">
    <h3>Don't Have an Account?</h3>
    <p>Let us help you register with pleasure</p>
    <button class="btn btn-light btn-register">Register</button>
  </div>
</div>
