* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  width: 100%;
  height: 100vh;
  background-image: url("../../../../assets/shape/top-left-qcircle.svg");
  background-repeat: no-repeat;
}
